.ChatItem {
    display: flex;
    flex-direction: row-reverse;
    gap: 14px;
    width: 100%;

    img {
        width: 50px;
        height: 50px;
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--border-color);
        transform: scale(-1, 1);
    }

    .message {
        padding: 16px 24px;
        font-size: var(--chat-item-message-font-size);
        border-radius: 14px;
        border-top-right-radius: 0px;
        background: var(--chat-item-request-bg);
        color: var(--chat-item-request-font-color);
        box-shadow: var(--box-shadow-item-message-request);
        word-break: break-all;
    }

    .messageContent {
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 5px;
        width: 85%;
    }

    .chatItemName {
        font-size: var(--chat-item-message-name-font-size);
        font-weight: 600;
        color: var(--chat-item-message-name-font-color);
    }

    pre {
        max-width: 100%;
        margin: 20px 0;
        border-radius: 15px;
        background: var(--chat-item-markdown-background);
        color: var(--chat-item-markdown-color);
        padding: 20px;
        word-wrap: break-word;
    }

    code {
        max-width: 100%;
        font-family: 'JetBrainsMono';
        overflow-wrap: anywhere;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-all;
    }
}

.ChatItem.response {
    flex-direction: row;

    .message {
        border: 1px solid var(--border-color);
        background: var(--chat-item-response-bg);
        color: var(--chat-item-response-font-color);
        border-top-right-radius: 14px;
        border-top-left-radius: 0px;
        box-shadow: var(--box-shadow-item-message-response);
    }

    .messageContent {
        align-items: start;
    }
}

.ChatItem.error {
    .message {
        background: red;
        color: white;
    }
}
