@mixin bg-color {
    background: var(--header-chat-color);
}

.ChatInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--primary-padding);
    min-height: 90px;
    height: max-content;
    border-top: 1px solid var(--border-color);
    @include bg-color;
}

.inputField {
    outline: none;
    border: none;
    font-size: 24px;
    flex-grow: 1;
    height: min-content;
    resize: none;
    color: var(--primary-font-color);
    @include bg-color;
}

.inputField::placeholder {
    color: #a0a0a0;
}
