* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: roboto;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: local('JetBrainsMono'), url('../../shared/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2');
}

button,
a {
    cursor: pointer;
}

ol {
    display: block;
}
